a:hover {
  color: #000000;
  /*text-decoration: underline;*/
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #;
}

a:hover {
  color: #000000;
}

a {
  color: #3197c2;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #000000;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  transition: all .3s;
  color: #fff;
  border-radius: 100%;
  outline: none;
  background-color: #3197c2;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #3197c2;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: .75em 0;
  letter-spacing: 1px;
  color: #fff;
  font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-family: font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all .5s ease;
  opacity: 0;
  background: #3197c2;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: .75em 0;
  letter-spacing: 1px;
  color: #fff;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  /*border-bottom: 1px solid hsla(0,0%,100%,.3);*/
  /*background-color: #000;*/
}

